@page "/buttontest"
@page "/buttons"


<h3>@title</h3>


<div class="container">
    <div class="btn-toolbar">
        <CustomEditButtonComponent OnClick="changeTitle" />
        <CustomEditButtonComponent Caption="Edit caption" Color="danger" Icon="pencil" IsSmall="false" />
        <AddNewButtonComponent />
    </div>
</div>
@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;


    private string title = "";
    private void changeTitle()
    {
        Modal.Show<Counter>("MyMovies");
        title = "New Title";
    }
}
